@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body {
  font-family: "Cormorant", serif;
  background-color: antiquewhite;

  font-style: normal;
  font-optical-sizing: auto;
}

.navbar {
  background: rgba(246,240,227, 1);
}

.jumbo-img {
  margin: 20px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px 5px #f6f0e3;
  box-shadow: 0px 0px 15px 5px #f6f0e3;
}

.box-jumbo{
  background: rgb(246,240,227);
background: linear-gradient(0deg, rgba(246,240,227,0.304359243697479) 0%, rgba(246,240,227,1) 100%);
}

.jumbotron {
  background: url(../img/pasty-bw.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
  min-height: 50vh;
  background-color: #f6f0e3;
  mix-blend-mode: darken;
}

.card {
  background-color: #f6f0e3;
}

.frame {
  background-color: #f6f0e3;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.about-half {
  min-height: 50vh;

}

.upload-form {
  margin: 50px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f6f0e3;
  min-height: 60vh;

}

@media (max-width: 768px) {

  .jumbotron img {
    margin: 20px;
    display: none;
  }


}

/* Media query for screens smaller than 991 pixels */
@media screen and (max-width: 991px) {}

@media screen and (min-width: 991px) {}